
div.InputFormContainer {
  > form.input-form {
    margin-top: 1.6em;
    padding: 1.6em;
    overflow: hidden;
    box-sizing: border-box;
  }
}

div.form-input {
  display: grid;
  grid-template-columns: auto;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

label.input-label {
  color: var(--color-black);
}

input.input-box, select.input-select {
  padding: 0.6em;
  border-radius: var(--border-radius);
  border: var(--border);
  margin-right: 1em;
  &:focus {
    outline: none !important;
  }
}

